.card {
  background-color: $white;
  border-radius: $border-radius-24;
  box-shadow: 0 1rem 1.5rem hsla(245, 75%, 52%, 0.15);
  @include flex-column();
  overflow: hidden;

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    @include flex-column($space-24);
    padding: $space-34 $space-24;
  }

  &__info {
    align-items: center;
    @include flex-column($space-16);
  }

  &__title {
    color: $dark-blue;
    font-size: $font-size-22;
    font-weight: 900;
  }

  &__text {
    color: $desaturated-blue;
    font-size: $font-size-14;
    font-weight: 500;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing_-04;
    width: 80%;
  }

  &__plan-container {
    @include flex-column($space-24);
  }

  &__plan {
    align-items: center;
    background-color: $very-pale-blue;
    border-radius: $border-radius-12;
    display: flex;
    justify-content: space-between;
    padding: $space-16;
  }

  &__plan-info {
    @include flex-column($space-2);
  }

  &__plan-title {
    color: $dark-blue;
    font-size: $font-size-14;
    font-weight: 900;
  }

  &__plan-price {
    color: $desaturated-blue;
    font-size: $font-size-14;
    font-weight: 500;
    letter-spacing: $letter-spacing_02;
  }

  &__change {
    color: $bright-blue;
    font-size: $font-size-14;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: $letter-spacing_-05;
  }
}
