.card {
  background-color: $white;
  border-radius: $border-radius-24;
  box-shadow: 0 1rem 1.5rem hsla(245, 75%, 52%, 0.15);
  @include flex-column();
  max-width: 28.125rem;
  overflow: hidden;

  &__image {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    @include flex-column($space-24);
    padding: $space-34 $space-24;

    @include respond-to($breakpoint) {
      @include flex-column($space-20);
      padding: $space-48;
    }
  }

  &__info {
    align-items: center;
    @include flex-column($space-16);

    @include respond-to($breakpoint) {
      @include flex-column($space-18);
    }
  }

  &__title {
    color: $dark-blue;
    font-size: $font-size-22;
    font-weight: 900;

    @include respond-to($breakpoint) {
      font-size: $font-size-28;
    }
  }

  &__text {
    color: $desaturated-blue;
    font-size: $font-size-16;
    font-weight: 500;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing_-04;
    width: 90%;

    @include respond-to($breakpoint) {
      letter-spacing: 0;
      width: 95%;
    }
  }

  &__plan-container {
    @include flex-column($space-24);

    @include respond-to($breakpoint) {
      @include flex-column($space-30);
    }
  }

  &__plan {
    align-items: center;
    background-color: $very-pale-blue;
    border-radius: $border-radius-12;
    display: flex;
    justify-content: space-between;
    padding: $space-16;

    @include respond-to($breakpoint) {
      padding: $space-26 $space-24;
    }
  }

  &__plan-info-container {
    align-items: center;
    @include flex-row($space-16);

    @include respond-to($breakpoint) {
      @include flex-row($space-20);
    }
  }

  &__plan-info {
    @include flex-column($space-2);

    @include respond-to($breakpoint) {
      @include flex-column($space-4);
    }
  }

  &__plan-title {
    color: $dark-blue;
    font-size: $font-size-14;
    font-weight: 900;

    @include respond-to($breakpoint) {
      font-size: $font-size-16;
    }
  }

  &__plan-price {
    color: $desaturated-blue;
    font-size: $font-size-14;
    font-weight: 500;
    letter-spacing: $letter-spacing_02;

    @include respond-to($breakpoint) {
      font-size: $font-size-16;
    }
  }

  &__change {
    color: $bright-blue;
    font-size: $font-size-14;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: $letter-spacing_-05;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $active-blue;
    }

    @include respond-to($breakpoint) {
      letter-spacing: 0;
    }
  }

  &__buttons {
    @include flex-column($space-24);

    @include respond-to($breakpoint) {
      @include flex-column($space-34);
    }
  }

  &__button {
    background-color: $bright-blue;
    border-radius: $border-radius-12;
    box-shadow: 0 1rem 1.25rem hsla(245, 75%, 52%, 0.2);
    color: $white;
    cursor: pointer;
    font-size: $font-size-14;
    font-weight: 700;
    letter-spacing: $letter-spacing_08;
    padding: $space-16;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $active-blue;
    }
  }

  &__cancel {
    color: $desaturated-blue;
    font-size: $font-size-14;
    font-weight: 900;
    letter-spacing: $letter-spacing_08;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $dark-blue;
    }
  }
}
